@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


.container form .button{
  margin: 40px 0 20px 0;
}
.container .input-box input[type="submit"]{
  background: turquoise;
  font-size: 17px;
  color:black;
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}